# Modules and Virtual Environments

# 1.Module Import and Management Scenario:
 
You are developing a complex Python project with multiple modules. To manage the project effectively, you need to import and use various modules. Additionally, you want to organize your code using namespaces and avoid naming conflicts.
Design a Python program that demonstrates the following:

1. Import multiple modules within your project.
2. Use the import statement to access functions, classes, and variables from imported modules.
3. Create your custom module and use it in your main program.
4. Handle naming conflicts and ensure proper namespacing.
5. Implement error handling for missing modules or incorrect module usage.

In [6]:
try:
    # 1. Import multiple modules within your project.
    import math  # Import Python's built-in math module
    import my_math  # Import the my_math module
    
    # using my module: my_math
    result = my_math.add(5, 3)  # Using the 'add' function from custom module
    print(f"Result of addition: {result}")
    
    # Using the 'sqrt' function from the built-in math module
    print(f"Square root of 16: {math.sqrt(16)}")
    
    # Using the variable 'pi' from the my module: my_math
    print(f"My_module pi value: {my_math.pi}")
    
    # Using the constant 'pi' from the built-in math module
    print(f"Built-in math pi value: {math.pi}")
    
    print("Import Successful !!")

except ImportError as e:
    # 4. Handle naming conflicts and ensure proper namespacing.
    print(f"Import error: {e}")
    print("Make sure all module names are unique and do not conflict.")
except AttributeError as e:
    # 5. Implement error handling for missing modules or incorrect module usage.
    print(f"Attribute error: {e}")
    print("Check if the function or variable you are trying to access exists in the imported module.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

Result of addition: 8
Square root of 16: 4.0
My_module pi value: 3.14159265359
Built-in math pi value: 3.141592653589793
Import Successful !!

# 2. Virtual Environment Management Scenario: 
You are working on multiple Python projects with different dependencies and versions. To avoid conflicts and ensure project isolation, you decide to use virtual environments.
Create a Python program that demonstrates the following:
1. Create a virtual environment for a specific project.
2. Activate and deactivate virtual environments. 3. Install, upgrade, and uninstall packages within a virtual environment.
4. List the installed packages in a virtual environment.
5. Implement error handling for virtual environment operations.

In [ ]:
# in the anaconda propt we need to write
1. select our directory then write 
2. pip install virtualenv
        --> then it will installed in your machine
2. then we create a virtual environment by giving command:
        --> virtualenv myenv
3. for activate we need to wrtie:
        --> myenv\Scripts\activate
4. the for deactivate simply we write:
        --> deactivate

In [11]:
#
import subprocess
import sys

def create_virtual_environment(env_name):
    try:
        # 1. Create a virtual environment for a specific project.
        subprocess.run([sys.executable, '-m', 'venv', env_name], check=True)
        print(f"Virtual environment '{env_name}' created successfully.")
    except subprocess.CalledProcessError:
        print(f"Error: Failed to create virtual environment '{env_name}'.")

def activate_virtual_environment(env_name):
    try:
        # 2. Activate a virtual environment.
        activate_script = f"{env_name}/Scripts/activate"
        subprocess.run([activate_script], shell=True, check=True)
        print(f"Activated virtual environment '{env_name}'.")
    except subprocess.CalledProcessError:
        print(f"Error: Failed to activate virtual environment '{env_name}'.")

def deactivate_virtual_environment():
    try:
        # 2. Deactivate the currently active virtual environment.
        subprocess.run(['deactivate'], shell=True, check=True)
        print("Deactivated the virtual environment.")
    except subprocess.CalledProcessError:
        print("Error: Failed to deactivate the virtual environment.")

def install_package(env_name, package_name):
    try:
        # 3. Install a package within a virtual environment.
        subprocess.run([f"{env_name}/Scripts/pip", 'install', package_name], check=True)
        print(f"Installed '{package_name}' in virtual environment '{env_name}'.")
    except subprocess.CalledProcessError:
        print(f"Error: Failed to install '{package_name}' in virtual environment '{env_name}'.")

def list_installed_packages(env_name):
    try:
        # 4. List installed packages in a virtual environment.
        result = subprocess.run([f"{env_name}/Scripts/pip", 'list'], stdout=subprocess.PIPE, check=True, text=True)
        print(f"Installed packages in virtual environment '{env_name}':\n{result.stdout}")
    except subprocess.CalledProcessError:
        print(f"Error: Failed to list installed packages in virtual environment '{env_name}'.")

if __name__ == "__main__":

    env_name = "myenv"

    create_virtual_environment(env_name)
    activate_virtual_environment(env_name)
    install_package(env_name, "requests")
    list_installed_packages(env_name)
    deactivate_virtual_environment()

Virtual environment 'myenv' created successfully.
Error: Failed to activate virtual environment 'myenv'.
Installed 'requests' in virtual environment 'myenv'.
Installed packages in virtual environment 'myenv':
Package            Version
------------------ ---------
certifi            2023.7.22
charset-normalizer 3.2.0
idna               3.4
pip                23.2.1
requests           2.31.0
setuptools         68.2.0
urllib3            2.0.4
wheel              0.41.2

Deactivated the virtual environment.

# 3.Module Dependency Resolution Scenario: 
You are developing a Python application that relies on third-party packages. Managing dependencies and ensuring compatibility is crucial for your project's success.

Design a Python program that demonstrates the following:
1. Use a requirements.txt file to specify project dependencies.
2. Automatically install all project dependencies from the requirements.txt file.
3. Ensure that the versions of installed packages are compatible.
4. Implement error handling for dependency resolution and installation.

In [ ]:
# first we craete a requirements.txt file and write your requests in it then run the following python file
# check pip is installed or not in our machine or not
# code is: python -m pip install --upgrade pip
# pip install -r requirements.txt
# then it automatically do the installation process accoriding to your requirements

# inside that we need to write :
"""
requests~=2.25
numpy~=1.21
Flask~=2.0

"""
# this will helps to finding the required version that our machine needs

In [13]:
import subprocess
import sys

def create_virtualenv(venv_name):
    try:
        subprocess.run([sys.executable, "-m", "venv", venv_name], check=True)
    except subprocess.CalledProcessError:
        print("Error: Failed to create virtual environment.")
        exit(1)

def install_dependencies(venv_name):
    try:
        subprocess.run([venv_name + "\\Scripts\\pip", "install", "-r", "requirements.txt"], check=True)
    except subprocess.CalledProcessError:
        print("Error: Failed to install dependencies.")
        exit(1)

if __name__ == "__main__":
    venv_name = "my_project_venv"

    # Step 1: Create a virtual environment
    print(f"Step 1: Creating a virtual environment ({venv_name})")
    create_virtualenv(venv_name)

    # Step 2: Activate the virtual environment (Windows)
    print("Step 2: Activating the virtual environment (Windows)")
    activate_script = venv_name + "\\Scripts\\activate.bat"
    subprocess.run([activate_script], shell=True, check=True)

    # Step 3: Install dependencies from requirements.txt
    print("Step 3: Installing project dependencies from requirements.txt")
    install_dependencies(venv_name)

    # Step 4: Deactivate the virtual environment (Windows)
    print("Step 4: Deactivating the virtual environment (Windows)")
    subprocess.run(["deactivate"], shell=True, check=True)

    print("Project setup completed successfully.")

Step 1: Creating a virtual environment (my_project_venv)
Step 2: Activating the virtual environment (Windows)
Step 3: Installing project dependencies from requirements.txt
Step 4: Deactivating the virtual environment (Windows)
Project setup completed successfully.

# Database programming with MySQL:

# 1. Implement Inventory Management in Python with MySQL
    a) Inventory management, a critical element of the supply chain, is the tracking of inventory from manufacturers to warehouses and from these facilities to a point of sale. The goal of inventory management is to have the right products in the right place at the right time.
    b) The required Database is Inventory, and the required Tables are Purchases, Sales and Inventory
    c) Note: Apply your thoughts to demonstrate the DB Operation in Python.

In [1]:
# Create database connectivity
import mysql.connector

conn= mysql.connector.connect(user='root',
                              password='passworde',
                              host='127.0.0.1',
                              database='Inventory')

print(conn) # cheking Connection

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000026C2E215910>

In [2]:
# creating a cursor for my connection
curs =conn.cursor()
curs.execute('show databases')
for i in curs:
    print(i)

('information_schema',)
('inventory',)
('mla',)
('my_database',)
('mydatabase',)
('mysql',)
('onlinebookstore',)
('order_processing_system',)
('performance_schema',)
('ps10',)
('ps4string',)
('ps7company',)
('sakila',)
('schooldb',)
('shirts_db',)
('sys',)
('world',)

In [ ]:
# creating tables Purchases, Sales, Inventory
# creating table Inventory 
curs.execute("create table Inventory (id INT AUTO_INCREMENT PRIMARY KEY,product_name VARCHAR(255),quantity INT,unit_price DECIMAL(10, 2))")

   
# creating table Purchases 
curs.execute("create table Purchases (id INT AUTO_INCREMENT PRIMARY KEY, product_id INT,purchase_date DATE,quantity INT, unit_price DECIMAL(10, 2), FOREIGN KEY (product_id) REFERENCES Inventory(id))")

# creating table Sales 
curs.execute("create table Sales (id INT AUTO_INCREMENT PRIMARY KEY,product_id INT,sale_date DATE,quantity INT,unit_price DECIMAL(10, 2),FOREIGN KEY (product_id) REFERENCES Inventory(id))")

In [23]:
curs.execute('show tables')
for i in curs:
    print(i)

('inventory',)
('purchases',)
('sales',)

In [17]:
curs = conn.cursor()

# Insert  values into the Inventory table
inventory_data = [
    ("Dal", 100, 10.99),
    ("Rice", 50, 15.99),
    ("Oil", 200, 5.99)
]

sql_inventory = "INSERT INTO Inventory (product_name, quantity, unit_price) VALUES (%s, %s, %s)"

curs.executemany(sql_inventory, inventory_data)
conn.commit()

# Insert  values into the Purchases table
purchases_data = [
    (1, "2023-09-01", 50, 9.99),
    (2, "2023-09-05", 25, 14.99),
    (1, "2023-09-07", 30, 10.49)
]

sql_purchase = "INSERT INTO Purchases (product_id, purchase_date, quantity, unit_price) VALUES (%s, %s, %s, %s)"

curs.executemany(sql_purchase, purchases_data)
conn.commit()

# Insert  values into the Sales table
sales_data = [
    (1, "2023-09-12", 40, 12.99),
    (3, "2023-09-15", 20, 7.99),
    (2, "2023-09-18", 10, 15.99)
]

sql_sales = "INSERT INTO Sales (product_id, sale_date, quantity, unit_price) VALUES (%s, %s, %s, %s)"

curs.executemany(sql_sales, sales_data)
conn.commit()

# Close the database connection

conn.close()

In [26]:
curs = conn.cursor()
#displaying data inside table
curs.execute('select * from Inventory ')
for i in curs:
    print(i)
print()

curs.execute('select * from Purchases ')
for i in curs:
    print(i)
print()

curs.execute('select * from Sales ')
for i in curs:
    print(i)

(1, 'Dal', 100, Decimal('10.99'))
(2, 'Rice', 50, Decimal('15.99'))
(3, 'Oil', 200, Decimal('5.99'))

(1, 1, datetime.date(2023, 9, 1), 50, Decimal('9.99'))
(2, 2, datetime.date(2023, 9, 5), 25, Decimal('14.99'))
(3, 1, datetime.date(2023, 9, 7), 30, Decimal('10.49'))

(1, 1, datetime.date(2023, 9, 12), 40, Decimal('12.99'))
(2, 3, datetime.date(2023, 9, 15), 20, Decimal('7.99'))
(3, 2, datetime.date(2023, 9, 18), 10, Decimal('15.99'))

In [27]:
# if we will do a db operation then

# Fucnction to Inserting a new product into the Inventory table
def add_product(product_name, quantity, unit_price):
    query = "INSERT INTO Inventory (product_name, quantity, unit_price) VALUES (%s, %s, %s)"
    values = (product_name, quantity, unit_price)
    curs.execute(query, values)
    conn.commit()
    print("****You have sucssfully added a product.****")
    print(f"Added product: {product_name}")

# Update product quantity and unit price in the Inventory table
def update_product(product_id, new_quantity, new_unit_price):
    query = "UPDATE Inventory SET quantity=%s, unit_price=%s WHERE id=%s"
    values = (new_quantity, new_unit_price, product_id)
    curs.execute(query, values)
    conn.commit()
    print("****You have sucssfully Update a product.****")
    print(f"Updated product with ID: {product_id}")

# Query the Inventory table to retrieve product information
def get_product_info(product_id):
    query = "SELECT product_name, quantity, unit_price FROM Inventory WHERE id=%s"
    curs.execute(query, (product_id,))
    result = curs.fetchone()
    if result:
        product_name, quantity, unit_price = result
        print(f"Product ID: {product_id}")
        print(f"Product Name: {product_name}")
        print(f"Quantity: {quantity}")
        print(f"Unit Price: {unit_price}")
    else:
        print(f"Product with ID {product_id} not found")

In [31]:
# Adding a product

add_product("wheat", 75, 8.99)
print()

#updating the product in the inventory of id 1
update_product(1, 120, 11.49)
print()

print("*****Product Details*****")
#displaying the updated product details
get_product_info(1)

Added product: wheat

Updated product with ID 1

*****Product Details*****
Product ID: 1
Product Name: Dal
Quantity: 120
Unit Price: 11.49

# 2.Customer Order Processing Scenario: 
You are building a customer order processing system for an e-commerce company. The system needs to interact with a MySQL database to store customer orders, products, and order details.
1. Design a MySQL database schema for the order processing system, including tables for customers, products, and orders.
2. Write a Python program that connects to the database and allows customers to place new orders.
3. Implement a feature that calculates the total cost of an order and updates product quantities in the database.
4. How would you handle cases where a product is no longer available when a customer places an order?
5. Develop a function to generate order reports for the company's finance department.

In [2]:
# Create database connectivity
import mysql.connector

conn= mysql.connector.connect(user='root',
                              password='passworde',
                              host='127.0.0.1',
                              database='Order_Processing_System')

print(conn) # cheking Connection

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000161A5FFD750>

In [35]:
# creating a cursor for my connection
curs =conn.cursor()
curs.execute('show databases')
for i in curs:
    print(i,end=" ")

('information_schema',) ('inventory',) ('mla',) ('mydatabase',) ('mysql',) ('order_processing_system',) ('performance_schema',) ('ps10',) ('ps4string',) ('ps7company',) ('sakila',) ('schooldb',) ('shirts_db',) ('sys',) ('world',)

In [ ]:
# creating Customers Table
curs.execute("create table Customers (customer_id INT AUTO_INCREMENT PRIMARY KEY,first_name VARCHAR(255),last_name VARCHAR(255),email VARCHAR(255),phone_number VARCHAR(20))")
   
# creating Products Table
 
curs.execute("create table Products (product_id INT AUTO_INCREMENT PRIMARY KEY,product_name VARCHAR(255),description TEXT,price DECIMAL(10, 2),quantity_available INT)")

# creating Orders Table 
curs.execute("create table Orders ( order_id INT AUTO_INCREMENT PRIMARY KEY,customer_id INT,order_date DATE,status VARCHAR(20),FOREIGN KEY (customer_id) REFERENCES Customers(customer_id))")

# creating OrderItems Table 
curs.execute("create table Order_Items (item_id INT AUTO_INCREMENT PRIMARY KEY,order_id INT,product_id INT,quantity INT,unit_price DECIMAL(10, 2),FOREIGN KEY (order_id) REFERENCES Orders(order_id),FOREIGN KEY (product_id) REFERENCES Products(product_id))")

In [42]:
# checking tables
curs =conn.cursor()
curs.execute('show tables')
for i in curs:
    print(i,end=" ")

('customers',) ('order_items',) ('orders',) ('products',)

In [43]:
# inserting values to the table
cur = conn.cursor()

# Inserting values into the Customers table
customer_data = [
    ("Alice", "Johnson", "alice@example.com", "555-123-4567"),
    ("Bob", "Smith", "bob@example.com", "555-987-6543"),
    ("Charlie", "Brown", "charlie@example.com", "555-111-2222")
]

sql_customer= "INSERT INTO Customers (first_name, last_name, email, phone_number) VALUES (%s, %s, %s, %s)"
cur.executemany(sql_customer, customer_data)

# Inserting values into the Products table
product_data = [
    ("item1", "Description abt Item1", 10.98, 200),
    ("item2", "Description abt Item2", 12.99, 75),
    ("item3", "Description abt Item3", 21.99, 150)
]

sql_product = "INSERT INTO Products (product_name, description, price, quantity_available) VALUES (%s, %s, %s, %s)"
cur.executemany(sql_product, product_data)

# Inserting values into the Orders table
order_data = [
    (1, '2023-09-01', 'Shipped'),
    (2, '2023-09-05', 'Pending'),
    (1, '2023-09-10', 'Shipped')
]

sql_order = "INSERT INTO Orders (customer_id, order_date, status) VALUES (%s, %s, %s)"
cur.executemany(sql_order, order_data)

# Inserting values into the Ordersitem table
order_item_data = [
    (1, 1, 2, 19.99),
    (2, 2, 3, 29.99),
    (1, 3, 1, 9.99),
    (3, 1, 4, 19.99)
]

sql_order_item = "INSERT INTO Order_Items (order_id, product_id, quantity, unit_price) VALUES (%s, %s, %s, %s)"
cur.executemany(sql_order_item, order_item_data)

# Commit the changes
conn.commit()

# Close the database connection and cursor
cur.close()
conn.close()

In [56]:
curs = conn.cursor()
#displaying data inside table
curs.execute('select * from Customers ')
for i in curs:
    print(i)
print()

curs.execute('select * from Products ')
for i in curs:
    print(i)
print()

curs.execute('select * from Orders ')
for i in curs:
    print(i)
print()

curs.execute('select * from Order_Items ')
for i in curs:
    print(i)

(1, 'Alice', 'Johnson', 'alice@example.com', '555-123-4567')
(2, 'Bob', 'Smith', 'bob@example.com', '555-987-6543')
(3, 'Charlie', 'Brown', 'charlie@example.com', '555-111-2222')

(1, 'item1', 'Description abt Item1', Decimal('10.98'), 200)
(2, 'item2', 'Description abt Item2', Decimal('12.99'), 75)
(3, 'item3', 'Description abt Item3', Decimal('21.99'), 150)

(1, 1, datetime.date(2023, 9, 1), 'Shipped')
(2, 2, datetime.date(2023, 9, 5), 'Pending')
(3, 1, datetime.date(2023, 9, 10), 'Shipped')

(5, 1, 1, 2, Decimal('19.99'))
(6, 2, 2, 3, Decimal('29.99'))
(7, 1, 3, 1, Decimal('9.99'))
(8, 3, 1, 4, Decimal('19.99'))

In [58]:
# Customer placing order

curs = conn.cursor()

def place_order(customer_id, product_id, quantity):
    curs.execute("SELECT price, quantity_available FROM Products WHERE product_id = %s", (product_id,))
    product_info = curs.fetchone()
    
    #here we handel the error case1 
    if not product_info:
        print("Product not found.")
        return

    unit_price, quantity_available = product_info
    
    #here we handel the error case2
    if quantity > quantity_available:
        print("Product quantity not sufficient.")
        return

    total_cost = unit_price * quantity

    curs.execute("INSERT INTO Orders (customer_id, order_date, status) VALUES (%s, NOW(), 'Pending')", (customer_id,))
    order_id = curs.lastrowid

    curs.execute("INSERT INTO Order_Items (order_id, product_id, quantity, unit_price) VALUES (%s, %s, %s, %s)",
                   (order_id, product_id, quantity, unit_price))

    curs.execute("UPDATE Products SET quantity_available = quantity_available - %s WHERE product_id = %s",
                   (quantity, product_id))

    conn.commit()
    print(f"Order placed successfully. Total cost: ${total_cost:.2f}")

print("******Placing Order******")
cid=int(input('Enter your customer id: '))
item=int(input('Enter Product Number Which Product You Want: 1 for Product1, 2 for Product2, 3 for Product3 '))
qty=int(input('Howmuch Qty you need: '))
place_order(cid, item, 3)  # Place an order for 3 units of Product 2 by Customer 1

curs.close()

******Placing Order******
Enter your customer id: 1
Enter Product Number Which Product You Want: 1 for Product1, 2 for Product2, 3 for Product31
Howmuch Qty you need: 3
Order placed successfully. Total cost: $32.94

True

In [3]:
import csv

curs = conn.cursor()

def generate_order_report(report_filename):
    curs.execute("""
        SELECT Orders.order_id, Customers.first_name, Customers.last_name,
               Products.product_name, Order_Items.quantity, Order_Items.unit_price
        FROM Orders
        JOIN Customers ON Orders.customer_id = Customers.customer_id
        JOIN Order_Items ON Orders.order_id = Order_Items.order_id
        JOIN Products ON Order_Items.product_id = Products.product_id
    """)

    rows = curs.fetchall()

    with open(report_filename, mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(["Order ID", "Customer First Name", "Customer Last Name", "Product Name", "Quantity", "Unit Price"])

        for row in rows:
            writer.writerow(row)

    print(f"Order report generated and saved to {report_filename} file in your diretory.")

generate_order_report("Order_Report.csv")

# Close the database connection
curs.close()

Order report generated and saved to Order_Report.csv file in your diretory.

True

In [7]:
# now close the connection
conn.close()

None

# 3. You are tasked with developing a Python program that connects to a MySQL database, retrieves data from a table, performs some operations on the data, and updates the database with the modified data. Please write Python code to accomplish this task.
4. Provide comments in your code to explain each step.
   Instructions:

# 1. Assume that you have a MySQL database server running with the following details:
i. Host: localhost
ii. Port: 3306
iii. Username: your username
iv. Password: your password
v. Database Name: your database
vi. Table Name: your_table
vil. The table has the following columns: id (int), name (varchar), quantity (int).

In [2]:
import mysql.connector

# creating connection
conn= mysql.connector.connect(user='root',
                              password='passworde',
                              host='127.0.0.1',
                              database='my_database')

print(conn) # cheking Connection

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000202DF186AD0>

In [3]:
# creating curser
cur=conn.cursor()

In [ ]:

# creating table
cur.execute("create table my_table (id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(30), quantity INT)")

In [18]:
# inserting mutliple data into my_table
my_tdata=[
        ('Apple',30),
         ('Mango',20),
         ('Pomegranate',45),
         ('Mulberry',66),
         ('Strawberry',33),
         ('Cherry',28),
         ('Guava',18)
        ]
sql_my_table='insert into my_table(name,quantity)values(%s, %s)'

cur.executemany(sql_my_table, my_tdata)

In [24]:
cur=conn.cursor()
# displaying data

cur.execute('select * from my_table')
for i in cur:
    print(i,end=" ")

conn.close()

(1, 'Apple', 30) (2, 'Mango', 20) (3, 'Pomegranate', 45) (4, 'Mulberry', 66) (5, 'Strawberry', 33) (6, 'Cherry', 28) (7, 'Guava', 18)

In [ ]:
2. Your Python program should:
i. Conect to the MySQL database.
ii. Retrieve all records from the your_table table.
iii. Calculate the total quantity of all records retrieved.
iv. Update the quantity column of each record by doubling its value.
v. Commit the changes to the database.
vi. Close the database connection.

In [ ]:
# here is the code create in another way without errors

In [11]:
import mysql.connector

# creating connection
conn= mysql.connector.connect(user='root',
                              password='passworde',
                              host='127.0.0.1',
                              database='my_database')

print(conn) # cheking Connection

# creating curser
curs=conn.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000252B69DD090>

In [12]:
# creating table named as fruit
curs.execute("CREATE TABLE fruitfamily (id INT AUTO_INCREMENT Primary key, name VARCHAR(30), quantity INT)")

In [13]:
curs.execute("insert into fruitfamily(name,quantity) values('Apple',30)")
curs.execute("insert into fruitfamily(name,quantity) values('Mango',20)")
curs.execute("insert into fruitfamily(name,quantity) values('Pomegranate',45)")
curs.execute("insert into fruitfamily(name,quantity) values('Mulberry',66)")
curs.execute("insert into fruitfamily(name,quantity) values('Strawberry',33)")
curs.execute("insert into fruitfamily(name,quantity) values('Cherry',28)")
curs.execute("insert into fruitfamily(name,quantity) values('Guava',18)")

In [15]:
# Retriving all the records from fruit table
curs.execute('select * from fruitfamily')
for i in curs:
    print(i)

(1, 'Apple', 30)
(2, 'Mango', 20)
(3, 'Pomegranate', 45)
(4, 'Mulberry', 66)
(5, 'Strawberry', 33)
(6, 'Cherry', 28)
(7, 'Guava', 18)

In [16]:

curs.execute('select quantity from fruitfamily')
# Making Fruit List
fl=[]
for i in curs:
    fl.append(i)    
print(fl)

[(30,), (20,), (45,), (66,), (33,), (28,), (18,)]

In [17]:
# extracting integers from this list
integerslist = [x[0] for x in fl if isinstance(x[0], int)]
print(integerslist)

[30, 20, 45, 66, 33, 28, 18]

In [19]:
# iii. Calculate the total quantity of all records retrieved before updating it.
totalquantity=sum(integerslist)
print('Total quantity of all records retrieved before updating quantity: ',totalquantity)

Total quantity of all records retrieved before updating quantity:  240

In [20]:
# iv. Update the quantity column of each record by doubling its value.
curs.execute('UPDATE fruitfamily SET quantity = quantity * 2')

In [22]:
# checking values doubled or not 
curs.execute('select * from fruitfamily')
for i in curs:
    print (i)

(1, 'Apple', 60)
(2, 'Mango', 40)
(3, 'Pomegranate', 90)
(4, 'Mulberry', 132)
(5, 'Strawberry', 66)
(6, 'Cherry', 56)
(7, 'Guava', 36)

In [23]:
# again making list of that quantity

curs.execute('select quantity from fruitfamily')
# Making Fruit List
fl=[]
for i in curs:
    fl.append(i)    
print(fl)

[(60,), (40,), (90,), (132,), (66,), (56,), (36,)]

In [24]:
# extracting integers from this list
integerslist = [x[0] for x in fl if isinstance(x[0], int)]
print(integerslist)

[60, 40, 90, 132, 66, 56, 36]

In [25]:
# iii. Calculate the total quantity of all records retrieved after updating it.
totalquantity=sum(integerslist)
print('Total quantity of all records retrieved after updating quantity: ',totalquantity)

Total quantity of all records retrieved after updating quantity:  480

In [26]:
# commit chages
conn.commit()

# closing cursor
curs.close()

# closing connection
conn.close()

In [ ]:
3. Handle any potential errors that may occur during the database connection and data manipulation, such as connection failures or SQL errors.

In [47]:
import mysql.connector

try:
    # Connect to the MySQL database
    conn= mysql.connector.connect(user='root',
                              password='passworde',
                              host='127.0.0.1',
                              database='my_database')

    print(conn) # cheking Connection

    # Check if the connection was successful
    if conn.is_connected():
        print("Connected to the database")

    cursor = conn.cursor()

    # Step 1: Retrieve all records from the your_table table
    cursor.execute("SELECT * FROM my_table")
    records = cursor.fetchall()

    # Step 2: Initialize variables for total quantity and a list for valid updates
    total_quantity = 0
    valid_updates = []

    # Step 3: Process each record
    for record in records:
        # Attempt to convert the quantity to an integer
        try:
            quantity = int(record[1])
            total_quantity += quantity  # Add to the total if it's a valid integer
            valid_updates.append((quantity * 2, record[0]))  # Store valid updates
        except (ValueError, TypeError):
            # Handle invalid or non-integer values here (e.g., log, skip, or other action)
            print(f"Skipping invalid quantity value: {record[1]}")

    # Step 4: Update the quantity column of each valid record with doubled values
    update_query = "UPDATE your_table SET quantity = %s WHERE id = %s"
    cursor.executemany(update_query, valid_updates)

    # Step 5: Commit the changes to the database
    conn.commit()

    # Step 6: Close the cursor and database connection
    cursor.close()
    conn.close()

    print("Total quantity before doubling:", total_quantity)
    print("Total quantity after doubling:", total_quantity * 2)

except mysql.connector.Error as e:
    # Handle MySQL database errors
    print(f"MySQL Error: {e}")

except Exception as e:
    # Handle other unexpected errors
    print(f"An unexpected error occurred: {e}")

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001ABAF800950>
Connected to the database
Skipping invalid quantity value: Apple
Skipping invalid quantity value: Mango
Skipping invalid quantity value: Pomegranate
Skipping invalid quantity value: Mulberry
Skipping invalid quantity value: Strawberry
Skipping invalid quantity value: Cherry
Skipping invalid quantity value: Guava
Total quantity before doubling: 0
Total quantity after doubling: 0

In [29]:
cur=conn.cursor()
# displaying data

cur.execute('select * from my_table')
for i in cur:
    print(i,end=" ")

(1, 'Apple', 30) (2, 'Mango', 20) (3, 'Pomegranate', 45) (4, 'Mulberry', 66) (5, 'Strawberry', 33) (6, 'Cherry', 28) (7, 'Guava', 18)

# 4. You are developing an employee management system for a company. The database should store employee information, including name, salary, department, and hire date. Managers should be able to view and update employee details.
    1. Design the database schema for the employee management system.
    2. Write Python code to connect to the database and retrieve a list of employees in a specific department.
    3. Implement a feature to update an employee's salary.

In [7]:
import mysql.connector

# creating connection
conn= mysql.connector.connect(user='root',
                              password='passworde',
                              host='127.0.0.1',
                              database='my_database')

print(conn) # cheking Connection

# creating curser
curs=conn.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001B9B992FF10>

In [8]:
# creating employee table
curs.execute("CREATE TABLE employees (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255) NOT NULL, salary DECIMAL(10, 2) NOT NULL, department VARCHAR(50) NOT NULL, hire_date DATE NOT NULL)")

In [9]:
# inserting some values to employees table

employee_data = [
        ('John Doe', 55000.00, 'HR', '2023-01-15'),
        ('Jane Smith', 60000.00, 'IT', '2022-08-10'),
        ('Alice Johnson', 52000.00, 'Finance', '2023-03-20'),
        ('Bob Williams', 58000.00, 'Marketing', '2022-11-05'),
        ('Eva Davis', 56000.00, 'HR', '2023-02-28')
    ]

    # 2. Insert values into the employees table.
sql_query = "INSERT INTO employees (name, salary, department, hire_date) VALUES (%s, %s, %s, %s)"
curs.executemany(sql_query, employee_data)

In [10]:
# displaying data 
curs.execute('select * from employees')
for i in curs:
    print(i)

(1, 'John Doe', Decimal('55000.00'), 'HR', datetime.date(2023, 1, 15))
(2, 'Jane Smith', Decimal('60000.00'), 'IT', datetime.date(2022, 8, 10))
(3, 'Alice Johnson', Decimal('52000.00'), 'Finance', datetime.date(2023, 3, 20))
(4, 'Bob Williams', Decimal('58000.00'), 'Marketing', datetime.date(2022, 11, 5))
(5, 'Eva Davis', Decimal('56000.00'), 'HR', datetime.date(2023, 2, 28))

In [11]:
# retrieve a list of employees in a specific department.

sqlquery = "select* from employees where department = 'HR'"

curs.execute(sqlquery)
for i in curs:
    print(i)

(1, 'John Doe', Decimal('55000.00'), 'HR', datetime.date(2023, 1, 15))
(5, 'Eva Davis', Decimal('56000.00'), 'HR', datetime.date(2023, 2, 28))

In [15]:
# Implement a feature to update an employee's salary.

inp= input("You want to update an employee's salary: Y/N")

if inp=='Y' or 'y':
    print()
    sqlquery = "select* from employees"
    curs.execute(sqlquery)
    for i in curs:
        print(i)
    
eid = int(input("Enter Employee id from the data: "))
sal = float(input("Enter Salary for updating salary: "))

# Define the SQL update query with placeholders
updating_query = "UPDATE employees SET salary = %s WHERE id = %s"

try:
    # Execute the query with the provided values
    curs.execute(updating_query, (sal, eid))
    conn.commit()  # Don't forget to commit the changes to the database

    if curs.rowcount == 1:
        print("Salary updated successfully.")
    else:
        print("No employee found with the provided ID.")

except mysql.connector.Error as err:
    print("Error:", err)

You want to update an employee's salary: Y/Ny

(1, 'John Doe', Decimal('55000.00'), 'HR', datetime.date(2023, 1, 15))
(2, 'Jane Smith', Decimal('60000.00'), 'IT', datetime.date(2022, 8, 10))
(3, 'Alice Johnson', Decimal('52000.00'), 'Finance', datetime.date(2023, 3, 20))
(4, 'Bob Williams', Decimal('58000.00'), 'Marketing', datetime.date(2022, 11, 5))
(5, 'Eva Davis', Decimal('56000.00'), 'HR', datetime.date(2023, 2, 28))
Enter Employee id from the data: 1
Enter Salary for updating salary: 70000
Salary updated successfully.

In [16]:
# cheking salry updated or not
sqlquery = "select* from employees"
curs.execute(sqlquery)
for i in curs:
    print(i)

(1, 'John Doe', Decimal('70000.00'), 'HR', datetime.date(2023, 1, 15))
(2, 'Jane Smith', Decimal('60000.00'), 'IT', datetime.date(2022, 8, 10))
(3, 'Alice Johnson', Decimal('52000.00'), 'Finance', datetime.date(2023, 3, 20))
(4, 'Bob Williams', Decimal('58000.00'), 'Marketing', datetime.date(2022, 11, 5))
(5, 'Eva Davis', Decimal('56000.00'), 'HR', datetime.date(2023, 2, 28))

In [19]:
conn.commit()
curs.close()
conn.close()